.answer {
  display: flex;
  margin-bottom: 10px;
  text-align: left;
  align-items: flex-end;

  font {
    margin-top: 0;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  button {
    margin-bottom: 0;
    height: 100%;
  }
}
