.answer
{
    display: flex;
    border: none !important;
    width: auto !important;
    margin-bottom: 10px;
    text-align:left;
    

    font{
        margin-top: 0;
        margin-bottom: 0;
        height: 5vh;
        
    }
    p{
        margin-top: 0;
        margin-bottom: 0;
    }
}